#shareBox {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 2;
}
#shareBox > button {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: #292A2B;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url("twitter.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
p {
    overflow: visible;
}
article{
  width: 400px;
  margin: auto;
  font-size: 14pt;
}
h1,
h3{
  text-align: center;
}
h3{
  background-color: #FF0A68;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 2px 0;
  box-shadow: inset 0 0 2px  grey;
}
body{
  font-family: 'crimson text';
}
.btn {
    background-color: #eee;
    background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
    font-size: .7rem;
    font-weight: bold;
    padding: 4px 6px 4px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}
